



  header img {
    display: flex;
    align-items: center;
    padding: 10px 350px;
   
  }
  
  header {
    display: flex;
   align-items: center;
   

  }  

header nav a {
text-decoration: none;
color:white ;
/* align-items: auto  ; */
justify-content: space-evenly;
width: 100%;
padding: 10px 60px;


   
    
  }



main {

    width: 960px;
    margin: 30px auto ;
    padding: 10px 10px;
}

.image3 img {
    margin: auto;
    padding: 20px 7px;
}
section{
    display: grid;
    grid-template-columns:  auto auto ;
    gap: 10px;
    align-items: center;

}
section image {
    

    float: left;
    
}
section div {
float: right ;
width: calc(50%-30px) ;
padding-left: 30px;
margin-bottom: 30px ;

}
section div p {

 height: 300px;
overflow: scroll;
margin: 10px 0px;
line-height: 1.5;

}

.call {
  padding: 10px 10px;
  background-color: #000;
  margin: auto;
color: white;
}


  footer {
    background-color: #373837;
    height: 80px;



  }