



a {
    text-decoration: none;
    color: rgb(192, 75, 75);
  }
  
  header {
    display: grid;
    grid-template-columns: 10px auto auto auto auto ;
    align-items: center;
  }  

header nav {
    text-align: right;
    color: aliceblue;
  }

header nav a {
    padding: 10px 10px;
    display: inline-block;
    transition: all 500ms;
   
}
main {

    width: 960px;
    margin: 30px auto ;
    padding: 50px 10px;
}

.image3 img {
    margin: auto;
    padding: 20px 7px;
}
section{
    display: grid;
    grid-template-columns:  auto auto ;
    gap: 10px;
    align-items: center;

}
section image {
    

    float: left;
    
}
section div {
float: right ;
width: calc(50%-30px) ;
padding-left: 30px;
margin-bottom: 30px ;

}
section div p {

overflow: auto;


}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    transition: all 500ms;
   border-radius: 3px;
  }

  footer {
    background-color: #373837;

  }